
<div class="container-fluid" [hidden]="true">
  <h1>BootCamp Form</h1>
  <div *ngIf="errorMsg" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <hr/>

  <form #userForm="ngForm" *ngIf="!submitted" (submit)="onSubmit()">
    <div class="form-group">
        <label for="username">Name</label>
        <!-- <input type="text" name="username" required  [class.is-invalid]="name.invalid && name.touched" class="form-control" #name='ngModel' [(ngModel)]="userModel.name"/> -->
        <input type="text" name="username" required  [ngClass]="name.invalid && name.touched ? 'is-invalid': null" class="form-control" #name='ngModel' [(ngModel)]="userModel.name"/>
        <small class="text-danger" [class.d-none]="name.untouched || name.valid">Name is Required</small>
    </div>
    
  
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" name="email" #email='ngModel' class="form-control" [(ngModel)]="userModel.email"/>
        <div *ngIf="email.errors && (email.untouched || email.valid)">
          <small class="text-danger" *ngIf="email.errors['required']">Email is required</small>
          <small class="text-danger" *ngIf="email.errors['pattern']">Invalid email</small>
        </div>
    </div>
   

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" required pattern="^\d{10}$" name="phone" #phone='ngModel' [class.is-invalid]="phone.invalid && phone.touched" class="form-control" [(ngModel)]="userModel.phone"/>
    <div *ngIf="phone.errors && (phone.untouched || phone.valid)">
      <small class="text-danger" *ngIf="phone.errors['required']">Phone is required</small>
      <small class="text-danger" *ngIf="phone.errors['pattern']">Phone should be 10 digits</small>
    </div>
     
  </div>

    <div class="form-group">
     <!--******************-->
    <!-- this above validation works only when default dropdown value is empty i.e when value is empty string -->

      <!-- <select required class="custom-select" [class.is-invalid]="topic.invalid && topic.touched" name="topic" #topic='ngModel'  [class.is-invalid]="topic.invalid && topic.touched" [(ngModel)]="userModel.topic">
          <option value="">I am interested in</option>
          <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="topic.untouched || topic.valid">Please select a topic</small> -->

     <!--******************-->
    <!--this validation is for no default value , like the value is coming from and api-. We need custom validation->
    <!-We will listen blur and change events>
    <!-We check if value is default , raise an error flg and use this error flag to conditionaly apply calsses and display error msg-->

    <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" class="custom-select" [class.is-invalid]="topicHasError && topic.touched" name="topic" #topic='ngModel'  [(ngModel)]="userModel.topic">
      <option value="default">I am interested in</option>
      <option *ngFor="let topic of topics">{{topic}}</option>
  </select>
  <small class="text-danger" [class.d-none]="topic.untouched || !topicHasError">Please select a topic</small>
    </div>

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" #timePreference='ngModel' name="timePreference" value="morning" [(ngModel)]="userModel.timePreference"/>
        <label class="form-check-label" for="timePreference">Morning (9-12)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" #timePreference='ngModel' name="timePreference" value="evening" [(ngModel)]="userModel.timePreference"/>
        <label class="form-check-label" for="timePreference">Evening (5-8)</label>
      </div>

      <div class="form-check" mb-3>
        <input type="checkbox"  name="subscribe" #subscribe='ngModel' class="form-check-input" [(ngModel)]="userModel.subscribe"/>
        <label class="form-check-label">
          Send promotional offers
        </label>
      </div>

      <button type="submit" [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary">Submit</button>

    </div>
  </form>
</div>

<!--table Show Hide-->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-2">
     <button class="btn btn-primary" (click)="toggleDiv()">Select</button>
    </div>
    <div class="col">
      <app-first></app-first>
    </div>
    <div [ngClass]="showDiv ? 'col': 'col-md-10 ml-5'">
      <app-second></app-second>
    </div>
  </div>
</div>